<link href="~/css/login.css" rel="stylesheet" />
<div class='wrap'>
    Login
    
        <form action="loginButton" method="post">
            <input id='idUsername' name="userName_name" type='text' class="inputBox" placeholder='Username' required>
            <input type='password' class="inputBox" id='idPassword' name="password_name" placeholder='Password' required> 
            <input id="id_login" class='buttonClass' value="Login" type="submit" />
    </form>
    <form action="singUpButton" method="post">
        <input id="id_sing_up" class='buttonClass' value="Sing up" style="margin-top: -48px" type="submit" />
    </form>


</div>